<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" destroy-method="close">
      <property name="driverClassName">
        <value>com.mysql.jdbc.Driver</value>
      </property>
      <property name="url">
        <value>jdbc:mysql://localhost:7001/cmanage?characterEncoding=UTF-8&amp;characterSetResults=UTF-8</value>
      </property>
      <property name="username">
        <value>cmanage</value>
      </property>
      <property name="password">
        <value>cmanage</value>
      </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="transactionAttributeSource" class="org.springframework.transaction.interceptor.NameMatchTransactionAttributeSource">
        <property name="properties">
            <props>
                <prop key="insert*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="delete*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager" ref="transactionManager" />
        <property name="transactionAttributeSource" ref="transactionAttributeSource" />
    </bean>

    <bean id="beanNameAutoProxy" class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property name="interceptorNames">
            <list>
                <value>transactionInterceptor</value>
            </list>
        </property>
        <property name="beanNames">
            <list>
                <value>*Service</value>
            </list>
        </property>
    </bean>

    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="classpath:sqlMappingConfig.xml" />
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="customerMasterDao" class="org.uepon.dao.CustomerMasterDaoImpl">
        <property name="sqlMapClient" ref="sqlMapClient" />
    </bean>

    <bean id="customerMasterService" class="org.uepon.service.CustomerMasterServiceImpl">
        <property name="customerMasterDao" ref="customerMasterDao" />
    </bean>

    <bean id="indexAction" class="org.uepon.action.IndexAction" scope="prototype">
        <property name="customerMasterService" ref="customerMasterService" />
    </bean>

</beans>